<!DOCTYPE html>
<html lang="en" class="h-100 w-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logo500.png">
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <title>Foodtruck</title>
    <style>
      #mainBk{
        background-image: url("/img/kungfuBG.png");
        background-repeat: repeat;
        background-size: cover;
      }
      #mainContent{
        background-color: white;
      }
      .navbar{
        background-color: rgba(51,59,78,1)!important;
      }
      .event {
          position: absolute;
          width: 3px;
          height: 3px;
          border-radius: 150px;
          bottom: 3px;
          left: calc(50% - 1.5px);
          content: " ";
          display: block;
          background: #3d8eb9;
      }

      .event.busy {
          background: #f64747;
      }
      </style>
    <!-- GOOGLE SIGN IN SCRIPT -->
    <script>
        function onSuccess(googleUser) {
          console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
          console.log(googleUser)
          console.log(googleUser.getBasicProfile())
          appCtrl.setSecondLevelModalType=appCtrl.getSecondLevelModalTypes.registration
          uiCtrl.showHideSecondLevelModals(appCtrl,dataCtrl)
          document.getElementById('nome2').value = googleUser.getBasicProfile().getName()
          document.getElementById('email2').value = googleUser.getBasicProfile().getEmail()
        }
        function onFailure(error) {
        console.log(error);
        }
        function renderButton() {
          gapi.signin2.render('my-signin2', {
              'scope': 'profile email',
              'width': 240,
              'height': 50,
              'longtitle': true,
              'theme': 'dark',
              'onsuccess': onSuccess,
              'onfailure': onFailure
          });
          gapi.load('auth2', function(){
              auth2 = gapi.auth2.init({
                  client_id: '75639400353-jjbf9pov1vtd65dicpkgucgsbahqobt0.apps.googleusercontent.com'
              });
              auth2.attachClickHandler('my-signin2', {}, onSuccess, onFailure);

              auth2.isSignedIn.listen(signinChanged);
              auth2.currentUser.listen(userChanged); // This is what you use to listen for user changes
          }); 
          var signinChanged = function (val) {
              console.log('Signin state changed to ', val);
              if(val){
                auth2.signOut().then(function () {
                  console.log('User signed out.');
                });
              }
          };
        }
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="75639400353-jjbf9pov1vtd65dicpkgucgsbahqobt0.apps.googleusercontent.com">
    <!-- FLAT PICKER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <!-- ONE SIGNAL -->
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>window.OneSignal = window.OneSignal || [];</script>
    <!-- CLIENT SIDE APPLICATION -->
    <script src="/js/homePage/AppCtrl.js"></script>
    <script src="/js/homePage/UICtrl.js"></script>
    <script src="/js/homePage/DataCtrl.js"></script>
    <script src="/js/homePage/main.js"></script>
</head>
<body class="h-100 w-100" onload="
  uiCtrl.showHideAlert('alert-warning','Nosso sistema exige que voce aceite receber notificacoes, porem no momento as notificacoes somente estao funcionando no Google Chrome','show')
">
    <div id="mainBk" class=".container-fluid h-100 w-100" style="overflow-y: auto;">
        <!--NAV BAR-->
        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#">Navbar</a>
        
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav> -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#"><img src="/img/logo500.png" width="30" height="30" alt="">Foodtruck</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button> -->
            <div class="collapse navbar-collapse" id="navbarNav" style="padding-left: 15px;">
              <ul class="navbar-nav mr-auto mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" onclick="appCtrl.setFirstLevelModalType = appCtrl.getFirstLevelModalTypes.none;uiCtrl.showHideFirstLevelModals(appCtrl,dataCtrl)" href="#">Home</a>
                </li>
                <li id="clientArea" class="nav-item">
                  <a class="nav-link" onclick="
                      appCtrl.setFirstLevelModalType = appCtrl.getFirstLevelModalTypes.login;
                      uiCtrl.showHideFirstLevelModals(appCtrl,dataCtrl);
                      renderButton();
                      ">Área do cliente</a>
                </li>
                <li id="userInfo" class="nav-item" hidden>
                  <a class="nav-link" onclick="appCtrl.setFirstLevelModalType = appCtrl.getFirstLevelModalTypes.personalData;uiCtrl.showHideFirstLevelModals(appCtrl,dataCtrl)" href="#">Minhas informações</a>
                </li>
                <li id="events" class="nav-item" hidden>
                  <a class="nav-link" onclick="
                      appCtrl.fetchEventsAndOrders(dataCtrl,uiCtrl)
                      " href="#">Eventos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" onclick="appCtrl.setFirstLevelModalType = appCtrl.getFirstLevelModalTypes.catering;uiCtrl.showHideFirstLevelModals(appCtrl,dataCtrl)" href="#">Catering</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login" target="blank">Administrador foodtruck</a>
                  </li>
              </ul>
            </div>
          </nav>
        <!--MAIN CONTENT-->
        <div id="main-content-spinner" class=".container-fluid w-100 h-100 mx-auto my-auto text-center" style="display:none;position: absolute;background-color: rgba(240, 240, 240, 0.7)">
          <div class="row h-100 w-100">
            <div class="col-12">
              <img src="/img/spinner2.gif" alt="Spinner" height="75%">
            </div>
          </div>
        </div>
        <div id="mainContent" class="container mx-auto w-75">
            <div class=".container-fluid w-100 h-100 row" >
              <div class="col-6 mx-auto my-auto text-center">
                <img class="d-block w-100"  src="/img/food1.jpg">
              </div>
              <div class="col-6 mx-auto my-auto text-center h-100">
                <p class="h-100" style="padding-top: 50%">Venha experimentar as delícias do autência <strong>barbecue americano</strong>. Crie uma conta conosco, faça seu log-in e veja onde, quando e qual será o menu dos nossos eventos. </p>

              </div>
            </div>
            <div class=".container-fluid w-100 row">
              <div class="col-6 mx-auto my-auto text-center h-100">
                <p class="h-100" style="padding-top: 50%">São pratos <strong>irresistíveis</strong>! É impossível não querer repetir....&#128523;</p>
              </div>
              <div class="col-6 mx-auto my-auto text-center">
                <img class="d-block w-100"  src="/img/food2.jpg">
              </div>
            </div>
            <div class=".container-fluid w-100 row">
              <div class="col-6 mx-auto my-auto text-center">
                <img class="d-block w-100"  src="/img/food3.jpg">
              </div>
              <div class="col-6 mx-auto my-auto text-center h-100">
                <p class="h-100" style="padding-top: 50%">São mais de 20 anos de experiência no ramo... Qualidade certa e comprovada</p>

              </div>
            </div>
            <div id="firstLevelModal" onclick="" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div id="firstLevelModalContent" class="modal-content">
                        
                    </div>
                </div>
            </div>
        </div>
        <div id="secondLevelModal" onclick="" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel2" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-xl">
              <div id="secondLevelModalContent" class="modal-content">
                
              </div>
          </div>
        </div>
        <!--BOTTOM NAV BAR-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
          <div class=".container-fluid mx-auto my-auto row">
            <div class=".container-fluid mx-auto my-auto col-12">
              <p style="text-align: center;color: white;">Foodtruck 2022</p>
            </div>
            <div class=".container-fluid mx-auto my-auto col-12">
              <ul class="navbar-nav text-center">
                <li class="nav-item active text-center w-100">
                  <a class="nav-link" href="mailto:dgmieth@gmail.com">Contact us</a>
                </li>
              </ul>  
            </div>

          </div>
            <!-- <div class=".container-fluid text-center mx-auto my-auto" style="width: 100%!important;">
            </div>
            <div class="w-100" id="bottomNav" style="padding: 15px;">
            </div> -->
        </nav>
         <!-- alert -->  
  <div id="alertBox" class="alert alert-dismissible fade" style="position: absolute;right: 0;top:0;margin-top: 6px;width: 70%;z-index: -9999;" role="alert">
    <div id="alertText" class="w-100 mx-auto my-auto text-center">

    </div>
    <button type="button" class="close" onclick="uiCtrl.showHideAlert(null,null,'hide')" style="float: right;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    </div>
    
</body>
<script> const socketIoDNS = "https://apifoodtruck.dgmieth.live"; </script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="/js/bootstrap/jquery.min.js"></script>
<script src="/js/bootstrap/popper.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>

</html>